<div #myBg class="bg-home-banner h-100 w-100">
  <div class="home-container row w-100 h-100">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="home-info">
        <div>Hi, my name is</div>
        <div class="w-100 d-flex justify-content-center">
          <div class="typewriter">
            <h1>MIGUEL</h1>
          </div>
        </div>
        <div>and i am</div>
        <div class="home-info-title">
          <h1>WEB</h1>
        </div>
        <div class="home-info-title">
          <h1>DEVELOPER</h1>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="home-animation">
        <div class="container-effect">
          <span class="tic-effect">tic</span>
        </div>
        <div class="container-effect">
          <span class="tic-effect">tic</span>
        </div>
        <div class="container-effect">
          <span class="tic-effect">tic</span>
        </div>
        <div class="container-effect">
          <span class="tic-effect">tic</span>
        </div>
      </div>
    </div>
  </div>
</div>
