/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: Zero Gothic;
    src: url(assets/font/ZeroGothic.otf);
} */
html,
body {
  height: 100%;
}
/* * { font-family: 'Rampart One', cursive; } */
* {
  font-family: "Reggae One", cursive;
}
:root {
  --height-card: 432px;
  --width-card: 309px;
}

.scrollable-container {
  overflow: auto;
}

.scrollable-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollable-container::-webkit-scrollbar:vertical {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-button:increment,
.scrollable-container::-webkit-scrollbar-button {
  display: none;
}

.scrollable-container::-webkit-scrollbar:horizontal {
  height: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #93502b;
  border-radius: 20px;
  border: 1px solid #c4c486;
}

.scrollable-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
